:root {
  /*Color pallete*/
  --reseda-green: #707140ff;
  --bone: #ded2bcff;
  --field-drab: #735b30ff;
  --reseda-green-2: #6c723cff;
  --khaki: #bfb398ff;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--reseda-green)
}


@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body {
  margin: 0;
  font-family: 'Climate Crisis', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Climate Crisis', sans-serif;
}
